<form method="POST" action="/search/prID">
  <label for="asin">Product Id</label>
  <input type="text" name="asin" placeholder="Enter product ID" />
  <br /><br />
  <input type="Submit" name="Search" />
</form>